services:
  mysql:
    image: mysql:oracle
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: nso
      MYSQL_ROOT_PASSWORD: syhanhzxz
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - nso
  phpmyadmin:
    image: phpmyadmin:apache
    restart: always
    depends_on:
      - mysql
    ports:
      - 8080:80
    environment:
      - MYSQL_ROOT_PASSWORD=syhanhzxz
      - PMA_HOST=mysql
    networks:
      - nso
networks:
  nso: